@import 'header.css';
@import 'footer.css';
@import 'index-main-section.css';

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Lato';
	margin: 0;
	padding: 0;
	margin-inline: 5%;
	color: #fffff4;
	background-color: #121212;
	font-size: 18px;
}
