main {
	margin-block: 70px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 20px;
}

main article {
	padding: 20px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 1.2em;
}

main article img {
	max-width: 100%;
}

main article a {
	color: #fffff4;
	text-decoration: none;
}

main article a:hover {
	color: #ffffffb9;
}

main article a svg {
	vertical-align: middle;
}

@media screen and (max-width: 900px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	main {
		grid-template-columns: 1fr;
	}
}
