<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles NLP</title>
</head>
<body>
    <div class="container">
        <form id="article_url_form" method="post">
            <label for="URI">Enter an Article URL:</label>
            <input type="text" id="URI" name="URI" required autofocus />
            <button type="submit">Analyze</button>
        </form>
    </div>

    <div id="error" style="display: none;"></div>
    <div id="loader" style="display: none;"></div>

    <div id="results" style="display: none;">
        <h2>Results:</h2>

        <ul id="resultsList">
            <li id="agreement"></li>
            <li id="subjectivity"></li>
            <li id="confidence"></li>
            <li id="irony"></li>
            <li id="score_tag"></li>
        </ul>
    </div>
</body>
</html>