@use 'variables';
@use 'mixins';

#error {
	@include mixins.box-shadow(0 0 10px variables.$shadow-light);
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: variables.$error-color;
	font-weight: bold;
	text-align: center;
}
