#error {
	@include box-shadow(0 0 10px $shadow-light);
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: $error-color;
	color: $white;
	font-weight: bold;
	text-align: center;
}
