@use 'variables';
@use 'mixins';

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

#article_url_form {
	margin: 20px;
	padding: 20px;
	background-color: variables.$white;
	border-radius: 10px;
	@include mixins.box-shadow(0 0 10px variables.$shadow-light);
	@include mixins.transition(background-color, 0.3s, ease);

	label {
		display: block;
		margin-bottom: 10px;
		font-weight: bold;
	}

	input[type='text'] {
		width: 100%;
		padding: 10px;
		margin-bottom: 20px;
		border-radius: 5px;
		border: none;
		@include mixins.box-shadow(0 0 5px variables.$shadow-light);
		@include mixins.transition(box-shadow, 0.3s, ease);

		&:focus {
			outline: none;
			@include mixins.box-shadow(0 0 5px variables.$shadow-dark);
		}
	}

	button[type='submit'] {
		background-color: variables.$primary-color;
		color: variables.$white;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		@include mixins.transition(background-color, 0.3s, ease);

		&:hover {
			background-color: variables.$secondary-color;
		}
	}
}
