@use 'variables';
@use 'mixins';

#results {
	margin: 20px;
	padding: 20px;
	background-color: variables.$secondary-background-color;
	border-radius: 10px;
	@include mixins.box-shadow(0 0 10px variables.$shadow-light);

	h2 {
		margin-top: 0;
		font-size: 24px;
		font-weight: bold;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin-bottom: 10px;
			font-size: 18px;
			line-height: 1.5;
		}
	}
}
