$primary-color: #faf8f6; // #E0E0E0
$secondary-color: #77dd77;
$primary-background-color: #0d160b;
$secondary-background-color: #3044308e;
$error-color: #ff4d4d;
$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-dark: rgba(0, 0, 0, 0.4);
